<div class="container" style="margin:auto;width: 550px">
  <form action="/" [formGroup]="edit">
    <h4>Name<span>*</span></h4>
    <input type="text" name="name" formControlName="name" [(ngModel)]="user.name"  />
    <h4>Email<span>*</span></h4>
    <input type="email" name="name" formControlName="email" [(ngModel)]="user.email"/>
    <h4>Password</h4>
    <input type="password" name="name" formControlName="password" [(ngModel)]="user.password"/>
    <h4>Phone Number</h4>
    <input type="number" name="name" formControlName="phoneNumber" [(ngModel)]="user.phoneNumber"/>
    <h4>Role</h4>
    <input type="text" name="name" formControlName="role" [(ngModel)]="user.role"/>
    <div class="btn-block">
      <button type="submit" (click)="save()" >Enregistrer</button>
    </div>

  </form>
  <div class="alert alert-success" *ngIf="saved" role="alert" style="width: 450px;height:50px;margin:auto;margin-top:20px;text-align: center">
    <span style="text-align: center;color:Green" > your request is successfully submitted</span>
  </div>
</div>
